@media screen and (max-width: 550px) {
    .container{
        width: 100%;
        margin: 0 auto;
    }
  .nav-links {
    display: none;
  }
  .menu-bar i {
    display: block;
    color: #fff;
  }
  .navbar {
    padding: 10px;
    width: 100%;
  }
  .navbar img {
    width: 70px;
  }
  .nav-btn button {
    padding: 4px 8px;
    font-size: 12px;
  }

  .header-container {
    height: 320px;
  }
  .banner{
    margin-top: 2rem;
    padding: 10px;
  }
  .banner-para {
    font-size: 2rem;
  }
  .banner-title {
    font-size: 2.5rem;
  }
  .banner-content {
    font-size: 20px;
  }
  .banner-subtitle img {
    width: 60px;
  }
  .banner-btn button {
    padding: 6px 10px;
    font-size: 12px;
  }
  .about-us{
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }
  .about-us-contents{
    width: 100%;
    padding: 12px;
  }
  .about-image {
    width: 100%;
  }
  .star img{
    width: 25px;
    margin-bottom: 1rem;
  }
  .about-para{
    font-size: 2rem;
}
.about-title{
    font-size: 2.5rem;
}
.about-items{
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
}
.about-satelite img{
    width: 75px;
}
.about-satelite{
    position: absolute;
    bottom: 8px;
    right: 10px;
}
.events{
    margin-top: 1rem;
    flex-direction: column-reverse;
}
.events-content,
.events-image{
    width: 100%;
}
.events-content{
    padding: 12px;
}
.circle{
    width: 20px;
}
.leaf{
    width: 60px;
}
.event-para{
    font-size: 2rem;
}
.event-title{
    font-size: 2.5rem;
}
.star-link{
    width: 15px;
    margin-top: 1.5rem;
    margin-left: 1rem;
}
.event-rocket{
    bottom: 0%;
    right: 5%;
}
.event-rocket img{
    width: 40px;
}
.seats-calendar{
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}
.seats-title{
  font-size: 25px;
}
.seats-calendar button{
  width: 50%;
  margin: 10px auto;
}
.gravity-images{
  width: 90%;
  margin: 1.5rem auto;
  margin-bottom: 0;
  grid-template-areas: 'img1' 'img2' 'img3' 'img4';
}
.gravity-img1 img{
  height: 400px;
}
.gravity-img2 img{
  height: 400px;
}
.gravity-img3 img{
  height: 400px;
}
.gravity-img4 img{
  height: 400px;
}
.service{
  background-size: contain;
}
.service-container{
  padding-top: 2rem;
}
.service-list{
  font-size: 12px;
  padding: 10px;
  gap: 12px;
  text-align: justify;
}
.service-title{
  font-size: 2rem;
}
}
