@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Baloo+Bhaijaan+2:wght@400..800&family=Oswald:wght@200..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Baloo+Bhaijaan+2:wght@400..800&family=Oswald:wght@200..700&family=Qwigley&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Baloo+2:wght@400..800&family=Baloo+Bhaijaan+2:wght@400..800&family=Oswald:wght@200..700&family=Qwigley&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* default codes */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.primary-font{
    font-family: "Oswald", sans-serif;
}
.secondary-font{
    font-family: "Qwigley", cursive;
}
.container{
    width: 90%;
    margin: 1rem auto;
}
.sub-container{
    width: 85%;
    margin: 1rem auto;
}
.flexbox{
    display: flex;
}
.primary-btn{
    padding: 12px 16px;
    color: #fff;
    border: none;
    background-color: #C9529A;
    border-radius: 5px;
}
.common-description{
    font-size: 15px;
    color: #fff;
    font-family: "Oswald", sans-serif;
}
body{
    background-color: #1E1E1E;
}
/* default codes */

/* header css */

.header-container{
    background-image: url('../assets/Group\ 626497.png');
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem;
}
.nav-links{
    color: #fff;
}
.nav-links li{
    padding: 10px;
    font-family: "Alata", sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.home{
    color: #C9529A;
}
.nav-btn button{
    font-family: "Alata", sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 8px 16px;
    background-color: transparent;
    border: 1px solid #C9529A;
    border-radius: 5px;
    color: #fff;
}
.menu-bar i{
    display: none;
}
.banner{
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;
}
.banner-para{
    font-family: "Qwigley", cursive;
    font-size: 3.5rem;
    color: #479A9F;
}
.banner-title{
    font-size: 4.5rem;
    color: #fff;
}
.banner-subtitle{
    align-items: center;
}
.banner-content{
    color: #C9529A;
}
.banner-btn{
    margin-top: 10px;
    margin-left: 7.5rem;
}
/* header css */

/* about-us css */

.about-us{
    gap: 2rem;
    position: relative;
}
.about-image{
    width: 50%;
}
.about-us-contents{
    width: 50%;
}
.about-image img{
    width: 100%;
}
.about-satelite{
    position: absolute;
    bottom: 0px;
    right: 20px;
}
.star img{
    margin-bottom: 2rem;
}
.about-para{
    font-family: "Qwigley", cursive;
    font-size: 2.5rem;
    color: #479A9F;
}
.about-title{
    font-size: 3.5rem;
    color: #fff;
}
.about-description {
    font-size: 14px;
    margin-bottom: 12px;
}
.about-items{
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}
.about-item1{
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.about-item-content{
    color: #fff;
}
.about-satelite img{
    width: 100px;
}

/* about-us css */

/* events css */

.events{
    gap: 2rem;
}
.events-content{
    width: 50%;
    position: relative;
}
.event-art {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.circle{
    width: 30px;
}
.leaf{
    width: 80px;
}
.event-para{
    font-family: "Qwigley", cursive;
    font-size: 2.5rem;
    color: #479A9F;
}
.event-title{
    font-size: 3rem;
    color: #fff;
    margin-bottom: 10px;
}
.events-btn{
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #C9529A;
    padding: 10px 14px;
    width: 170px;
    border-radius: 8px;
    margin-top: 10px;
}
.events-btn i{
    color: #fff;
}
.events-btn button{
    background-color: transparent;
    color: #fff;
    border: none;
}
.star-link{
    width: 20px;
    margin-top: 1.5rem;
    margin-left: 1rem;
}
.event-rocket{
    position: absolute;
    bottom: 8%;
    right: 40%;
}
.event-rocket img{
    width: 70px;
}
.events-image{
    width: 50%;
}
.events-image img{
    width: 100%;
}

/* events css */

/* seats css */

.seats{
    flex-direction: column;
    color: #fff;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.seats-subtitle{
    font-family: "Qwigley", cursive;
    color: #479A9F;
    font-size: 24px;
}
.seats-title{
    font-size: 2.5rem;
}
.seats-person,
.seats-date,
.seats-time{
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
.seats-calendar h4{
    color: #C9529A;
}
.seats-calendar p{
    border: 1px solid #ECEBEB;
    padding: 10px 75px 10px 8px;
}
.seats-calendar i{
    border: 1px solid #ECEBEB;
    padding: 13px;
}
.seats-calendar{
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 1rem;
}
.seats-calendar button{
    margin-left: -60px;
}

/* seats css */

/* gravity-images css */

.gravity-images{
    display: grid;
    grid-template-areas:"img1 img1 img4 img4" 
                        "img2 img3 img4 img4";
    gap: 10px;
    margin-top: 1rem;
}
.gravity-images img{
    width: 90%;
}
.gravity-img1{
    grid-area: img1;
    height: 400px;
}
.gravity-img2{
    grid-area: img2;
    height: 400px;
}
.gravity-img3{
    grid-area: img3;
    height: 400px;
}
.gravity-img4{
    grid-area: img4;
}
.gravity-img1 img{
    height: 400px;
    width: 100%;
}
.gravity-img2 img{
    height: 400px;
    width: 100%;
}
.gravity-img3 img{
    height: 400px;
    width: 100%;
}
.gravity-img4 img{
    height: 810px;
    width: 100%;
}
/* gravity-images css */

/* service css */

.service{
    height: 550px;
    background-image: url('../assets/Picture3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
}
.service-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}
.service-list{
    gap: 3rem;
}
.service-list1{
    flex-direction: column;
    gap: 1rem;
}
.service-list2{
    flex-direction: column;
    gap: 1rem;
}
.service-subtitle{
    font-family: "Qwigley", cursive;
    color: #479A9F;
    font-size: 24px;
}
.service-title{
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 10px;
}
.extra-para{
    font-size: 13px;
    font-weight: 700;
    color: #C9529A;
}
.service-btn{
    padding: 10px 18px;
    color: #fff;
    background-color: #C9529A;
    border: none;
    border-radius: 8px;
    margin-top: 10px;

}
/* service css */